main {
  max-width: 100rem;
  padding: 0 15px;
  margin: 2rem auto 1rem auto;
  padding: 1em;
}

#tiles {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

#tiles > button {
  display: block;
  margin: 0;
  white-space: normal;
  height: auto;
  line-height: normal;
  min-height: 50px;
  background-color: #5182DA;
  border-color: #5182DA;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

#tiles > button:hover  {
  background-color: #32415D;
  transition-duration: 0.4s;
}

h1 {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
