main {
  max-width: 100rem;
  padding: 0 15px;
  margin: 1rem auto 1rem auto;
}

header {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  padding: 10px 0;
}

h1 {
  margin: 0 20px;
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  flex-grow: 1;
}

header > a > img {
  vertical-align: middle;
}

a:hover > img, a:focus > img {
  filter: opacity(0.5) drop-shadow(0 0 0 blue);

}

#tiles {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

#tiles > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  white-space: normal;
  height: auto;
  line-height: normal;
  min-height: 50px;
  background-color: #5182DA;
  border: 0;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  min-height: 150px;
}

#tiles > button > .title {
  margin: 2px 0 5px 0;
}

#tiles > button > .author {
  font-weight: normal;
  font-size: 0.7em;
}

#tiles > button:hover, #tiles > button:focus {
  background-color: #32415D;
  transition-duration: 0.4s;
}

@media(max-width: 550px) {
  header {
    justify-content: space-between;
  }
  h1 {
    display: none;
  }
  #tiles > button {
    min-height: 70px;
  }
}
